*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: #002480;
    padding-left: 15px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav{
    width: 100%;
}

nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li{
    height: 70px;
}

nav a{
    text-decoration: none;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: white;
}

.home-container{
    min-height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-container .deskripsi-container{
    background: linear-gradient(270deg, #002480, #00071A);
    opacity: 80%;
    color: white;
    padding: 60px;
    font-family: sans-serif;
}

.deskripsi-container h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.deskripsi-container p {
    font-size: 1.5rem;
}

.statistik-container{
    font-family: sans-serif;
    margin: 50px 0;
}

.statistik-container h2, .barang-temuan-container h2, footer .kontak h2{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding: 20px;
}

.image-and-location, .image-and-time{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
}

.image-and-location p, .image-and-time p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
    padding-left: 5px;
}

.data-container{
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-around;
    height: 180px;
}

.data-container .data{
    text-align: center;
    margin: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}

.barang-temuan-container{
    margin: 50px 0 5px 0;
}

.konten-barang-temuan{
    margin: 15px 0;
    font-weight:bold;
    font-size: 1.5rem;
}

.barang-temuan-content{
    display: flex;
    margin: 20px 40px;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.data-barang-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.barang-temuan-content .data{
    width: 23%;
    display: flex;
    background-color: #F6F6F6;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}

.lokasi-tanggal{
    margin: 20px;
}

.barang-temuan-content .data .btn{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 10px;
}

.barang-temuan-content .data button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: none;
}

.ajukan{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002480;
}

.ajukan .ajukan-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

.ajukan-konten h2{
    color: white;
    text-align: center;
}

.ajukan-konten p {
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.login-btn{
    margin: 25px;
}

.login-btn button{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: #D9D9D9;
    border: none;
}

footer{
    background-color: #C0C0C0;
    opacity: 90%;
    padding: 0 30px;
}

footer .hubungi{
    padding: 0 0 20px 0;
}

footer .hubungi .nomor{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .hubungi p{
    font-weight: bold;
    margin: 0 0 10px 0;
}

footer .hubungi .nomor a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
    margin-left: 10px;
}